<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.dns-to-mdns</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/dns-to-mdns</string>
        <string>-p</string>
        <string>8053</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>WorkingDirectory</key>
    <string>/tmp</string>
    
    <key>StandardOutPath</key>
    <string>/tmp/dns-to-mdns.log</string>
    
    <key>StandardErrorPath</key>
    <string>/tmp/dns-to-mdns-error.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
